
*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: #fff;
}

.container
{
    max-width: 1440px;
    min-width: 600px;
    margin: 0 auto;
}

header
{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #cecece;
    text-align: center;
}

header h1
{
    line-height: 80px;
}

header h1 a
{
    color: #a4a4a4;
    font-weight: 300;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
}

#wrap
{
    max-width: 1920px;
}

#portfolio
{
    margin-top: 20px;
    text-align: center;
}

.project
{
    width: 100%;
    background: #fff;
}

.project-content
{
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thumbnail-wide
{
    width: 100%;
    height: 300px;
}

.thumbnail-wide .thumbnail-overlay
{
    display: block;
    width: 100%;
    height: 100%;
}

.thumbnail-wide .project-title
{
    display: block;
    position: relative;
    top: 240px;
    left: 20px;
    height: 60px;
    line-height: 60px;
}

.thumbnail-wide .project-title a
{
    color: #404040;
    font-size: 42px;
    font-weight: 300;

    transition: color 0.1s ease;
}

.thumbnail-wide .project-title a:hover
{
    color: #49525b;
}

.project p
{
    color:  #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 160%;
    text-align: justify;
}

footer
{
    border-top: 1px solid #d4d4d4;
    padding: 20px;
    color: #404040;
}

@media screen and (max-width: 960px)
{
    .thumbnail-wide
    {
        height: 150px;
    }

    .thumbnail-wide .project-title
    {
        top: 90px;
    }
}

a
{
    color: #4099d8;
    text-decoration: none;
}

a:hover
{
    color: #39bbf4;
}
